body {
    padding: 40px 0 0;
}

#hello {

    background: #ededed;
    border-radius: 40px;
    border-bottom: 90px solid #fbc6b8;
    border-top: 140px solid #fbc6b8;
    max-width: 800px;
    max-height: 300px;
    margin: 0 auto 60px;
    padding: 20px 0 60px;
    position: relative;
    box-shadow: 6px 6px 15px #888888;
}


#hellocaps #mynameis {
    font-family: monsterrat;
}


#hellocaps {
    font-size: 5.6em;
    color: #ededed;
    position: absolute;
    top: -230px;
    width: 100%;
    text-align: center;
}

#mynameis {
    font-size: 2em;
    color: #ededed;
    position: absolute;
    top: -90px;
    width: 100%;
    text-align: center;
}

#kimberly {
    font-family: petit formal script;
    font-size: 3em;
    text-align: center;
    color: #fbc6b8;
}

#footer {
    font-size: 1.5em;
    font-family: monsterrat;
    color: #ededed;
    position: absolute;
    top: 240px;
    width: 100%;
    text-align: center;
}
